:root {
    --principal-pale-blue: hsl(225, 100%, 94%);
    --principal-bright-blue: hsl(245, 75%, 52%);
    --neutral-very-pale-blue: hsl(225, 100%, 98%);
    --neutral-desaturated-blue: hsl(224, 23%, 55%);
    --neutral-dark-blue: hsl(223, 47%, 23%);
    --active: #766CF1;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    color: var(--neutral-desaturated-blue);
    margin: 0;
    padding: 0;
    font-size: 16px;
}

main {
    background-image: url('./images/pattern-background-mobile.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--principal-pale-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 71px 24px;
    box-sizing: border-box;
}

.card {
    width: 100%;
    background: #fff;
    max-width: 450px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    overflow: hidden;
}

.card-header {
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 37px 24px;
    text-align: center;
    line-height: 20px;
}

.card-body > * {
    margin: 0;
    padding: 0;
}

.card-body h4 {
    color: var(--neutral-dark-blue);
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 21px;
}

.card-body p {
    margin-bottom: 20px;
}

.selected-plan {
    background-color: var(--neutral-very-pale-blue);
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    padding: 16px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.selected-plan .plan-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.selected-plan .plan-detail .plan-name {
    color: var(--neutral-dark-blue);
    font-weight: 700;
}

.selected-plan a {
    color: var(--principal-bright-blue);
    font-weight: 700;
}

.selected-plan a:hover, .selected-plan a:active {
    color: var(--active);
}

.card-body button {
    background-color: var(--principal-bright-blue);
    color: #fff;
    border: 0;
    font-weight: 700;
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 15px 20px 0 rgba(56, 41, 224, 0.2);
    cursor: pointer;
}

.card-body button:hover, .card-body button:active {
    background-color: var(--active);
}

.card-body .cancel {
    color: var(--neutral-desaturated-blue);
    text-decoration: none;
    font-weight: 700;
}

.card-body .cancel:hover, .card-body .cancel:active {
    color: var(--neutral-dark-blue);
}

.selected-plan a,
.card-body button,
.card-body .cancel {
    transition: all 0.5s;
}

@media only screen and (min-width: 1024px) {
    main {
        background-image: url('./images/pattern-background-desktop.svg');
        margin: 0 auto;
        max-width: 1440px;
    }
    .card-body {
        padding: 53px 48px;
    }
    .selected-plan {
        padding: 24px;
    }
}